{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}


<div>

</div>

<div id="room-posts">
    {% include 'temps/room_list.html' %}
</div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block scripts %}
<script>
    function updateRoomList() {
        var filter = document.getElementById('filter').value;
        var filterValue;

        if (filter === 'city') {
            filterValue = document.getElementById('city-filter').value;
        } else if (filter === 'rating') {
            filterValue = document.getElementById('rating-order').value;
        }

        var url = window.location.pathname + '?filter=' + filter;
        if (filterValue) {
            url += '&' + filter + '=' + filterValue;
        }

        $.ajax({
            url: url,
            type: 'GET',
            success: function(response) {
                $('#room-posts').html(response);
            }
        });
    }
</script>
{% endblock %}
