{% extends 'base.html' %}
{% load el_pagination_tags %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<div id="room-container">
    {% paginate rooms %}
        {% include "temps/room_list.html" %}
    {% show_pages %}
</div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
    function updateRoomList() {
        var filter = document.getElementById('filter').value;
        var filterValue;

        if (filter === 'city') {
            filterValue = document.getElementById('city-filter').value;
        } else if (filter === 'rating') {
            filterValue = document.getElementById('rating-order').value;
        }

        var url = window.location.pathname + '?filter=' + filter;
        if (filterValue) {
            url += '&' + filter + '=' + filterValue;
        }

        $.ajax({
            url: url,
            type: 'GET',
            success: function(response) {
                $('#room-posts').html(response);
            }
        });
    }
</script>
{% endblock %}
