{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div id="room-container">
    {% include "temps/room_list.html" %}
</div>

{% if rooms.paginator.num_pages != 1 %}
<div class="pagination">
    {% if rooms.has_previous %}
        <a href="?page=1" class="pgitm">First</a>
        <a href="?page={{ rooms.previous_page_number }}" class="pgitm">Prev</a>
    {% endif %}

    <span class="pgdum">
        Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}
    </span>

    {% if rooms.has_next %}
        <a href="?page={{ rooms.next_page_number }}" class="pgitm">Next</a>
        <a href="?page={{ rooms.paginator.num_pages }}" class="pgitm">Last</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
    function updateRoomList() {
        var filter = document.getElementById('filter').value;
        var filterValue;

        if (filter === 'city') {
            filterValue = document.getElementById('city-filter').value;
        } else if (filter === 'rating') {
            filterValue = document.getElementById('rating-order').value;
        }

        var url = window.location.pathname + '?filter=' + filter;
        if (filterValue) {
            url += '&' + filter + '=' + filterValue;
        }

        $.ajax({
            url: url,
            type: 'GET',
            success: function(response) {
                $('#room-posts').html(response);
            }
        });
    }
</script>
{% endblock %}
