{% extends 'base.html' %}

{% block title %}Create new room{% endblock %}

{% block content %}
<div class="brief-name">Create new room</div>
<div class="hr"></div>
<div class="rmce">
    <div class="rmleft">
        {% if request.user.profile.avatar.url != null %}
        <img src="{{request.user.profile.avatar.url}}" alt="" class="pp">
        {% else %}
        <div class="pp" style="background: linear-gradient({{request.user.profile.avatar_default}});">
            <div class="grcn">
                {{request.user.profile.name|slice:"0:1"}}
            </div>
        </div>
        {% endif %}
        <div class="b-names-col">
            <div class="b-name">{{request.user.profile.name}}</div>
            <div class="b-usname">@{{request.user.username}}</div>
        </div>
    </div>
    <form action="{% url 'room_create' %}" method="POST" class="cecol" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="latitude" name="latitude" value="41.3103">
        <input type="hidden" id="longitude" name="longitude" value="69.2775">

        <div class="rcrflex">
            <input type="text" id="title" name="title" placeholder="Room's title">

            <input type="number" id="price" name="price" placeholder="Price">
        </div>
        <textarea id="description" name="description" class="descarea" placeholder="Description"></textarea>
        <input type="text" id="address" name="address" placeholder="Address">

        <div class="rcrflex">
            <div class="leftrcr">
                <select class="room-cy" id="city" name="city">
                    {% for choice in regions %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <input class="hmin" type="number" id="guests" name="guests" placeholder="Guests">
                <input class="hmin" type="number" id="beds" name="beds" placeholder="Beds">
                <input class="hmin" type="number" id="bedrooms" name="bedrooms" placeholder="Bedrooms">
                <input class="hmin" type="number" id="baths" name="baths" placeholder="Baths">
            </div>
            <div class="rightrcr">
                <div id="map" style="width: 100%; height: 180px; border-radius: 12px;"></div>
            </div>
        </div>

        <input type="file" id="roomimginp" name="image" accept="image/jpg, image/jpeg, image/png">
        <div id="image-preview-container"></div>

        <div class="rcrflex">
            <input type="date" id="check_in" name="check_in">
            <input type="date" id="check_out" name="check_out">
        </div>

        <div class="btnsubend">
            <button type="submit" class="btn-primary">Create room</button>
        </div>
    </form>
</div>
{% endblock %}