<div class="nottitle">Notifications</div>
<div id="notcol">
    {% for notification in notifications %}
    <div class="notcon">
        <div class="notsen-msg">
            <div class="notsender">
                <a href="{% url 'user_profile' notification.sender.username %}">
                    {% if notification.sender.profile.avatar.url != null %}
                    <img src="{{notification.sender.profile.avatar.url}}" alt="" class="pp" />
                    {% else %}
                    <div class="pp"
                        style="background: linear-gradient({{notification.sender.profile.avatar_default}});">
                        <div class="grcn">
                            {{notification.sender.profile.name|slice:"0:1"}}
                        </div>
                    </div>
                    {% endif %}
                </a>
            </div>
            <div class="msgcol">
                <div class="notsendername">
                    {{notification.sender.profile.name}}
                </div>
                <div class="notmsg">
                    <div class="notmsg_ttl">{{notification.message|safe}}</div>
                    {% if notification.room.host == notification.reciever %}
                    <div class="notroominfo">
                        <div class="not-room-col">
                            <div class="fs">
                                Check-in
                            </div>
                            <div class="sc">
                                {{notification.check_in|date:"M d"}}
                            </div>
                        </div>
                        <div class="not-room-col">
                            <div class="fs">
                                Checkout
                            </div>
                            <div class="sc">
                                {{notification.check_out|date:"M d"}}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if notification.room.host == notification.reciever %}
                {% if not notification.confirmed %}
                <form action="{% url 'confirm_room' notification.id %}" method="POST" class="bookform">
                    {% csrf_token %}
                    <button type="submit" name="action" value="confirm" class="btn-2">
                        Confirm
                    </button>
                    <button type="submit" name="action" value="cancel" class="btn-trspt">
                        Cancel
                    </button>
                </form>
                {% endif %}
                {% endif %}
                <div class="notdt_col">
                    {% if notification.confirmed %}
                    <a href="{% url 'reservation' %}" class="underline" style="color: #06c;">
                        (confirmed)
                    </a>
                    {% endif %}
                    <div class="notdt" data-created-at="{{ notification.created_at|date:" Y-m-d H:i:s" }}">
                        {{notification.get_date}}</div>
                </div>
            </div>
        </div>
        <!-- Form for deleting this specific notification -->
        <form id="delete_notification_{{ notification.id }}" action="{% url 'noty_delete' notification.id %}"
            method="POST">
            {% csrf_token %}
            <button class="notydel" type="submit">&times;</button>
        </form>
    </div>
    {% endfor %}
</div>
