{% load static %}
{% load notifications %}
<!DOCTYPE html>
<html lang="en" style="overflow: auto scroll;">

<head>
    <title>Uzrent / {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../../media/important/uzrent.png">

    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div id="toast-position">
        <div class="toast">
            <p>{{ message }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div id="signinModal" class="modal">
        <div class="modal-content">
            <div class="container">
                <div class="modal-title">
                    Sign in
                    <span onclick="closeSigninModal()" class="close">&times;</span>
                </div>
                {% include 'temps/signin_temp.html' %}
            </div>
        </div>
    </div>
    <div id="signupModal" class="modal">
        <div class="modal-content">
            <div class="container">
                <div class="modal-title">
                    Sign up
                    <span onclick="closeSignupModal()" class="close">&times;</span>
                </div>
                {% include 'temps/signup_temp.html' %}
            </div>
        </div>
    </div>
    <nav id="navbar">
        <div id="row">
            <ul class="row-content">
                <li class="row-con-itm">
                    <a href="{% url 'home' %}">
                        Uzrent
                        <!-- <img class="logo-img" src="../../media/important/UR.png" alt=""> -->
                    </a>
                </li>
                <li class="row-con-itm">
                    <form action="{% url 'search' %}" class="search-form">
                        {% csrf_token %}
                        <input type="text" name="search" class="search-inp" placeholder="Search" autocomplete="off">
                    </form>
                </li>
                {% if user.is_authenticated %}
                <ul class="row-content" style="width: 70px;">
                    <li class="inbox">
                        <div class="nav-icn inboxDrBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12.004 2.1c4.015 0 6.896 3.278 6.896 7.532v1.6c0 .228.193.531.72 1.075l.27.275c1.082 1.097 1.51 1.729 1.51 2.745 0 .445-.052.791-.268 1.206-.456.878-1.423 1.367-2.869 1.367l-1.912.001c-.629 2.332-2.13 3.6-4.351 3.6-2.245 0-3.754-1.295-4.371-3.675l.019.074H5.737c-1.488 0-2.466-.502-2.902-1.41-.191-.398-.235-.72-.235-1.163 0-1.016.428-1.648 1.51-2.745l.27-.275c.527-.544.72-.847.72-1.076v-1.6C5.1 5.38 7.988 2.1 12.004 2.1Zm2.462 15.802H9.534C9.99 19.148 10.776 19.7 12 19.7c1.224 0 2.01-.552 2.466-1.798ZM12.004 3.9C9.036 3.9 6.9 6.327 6.9 9.632v1.6c0 .852-.39 1.463-1.228 2.328-.073.075-.142.146-.281.286-.747.758-.991 1.118-.991 1.481 0 .192.014.292.057.382.107.224.433.391 1.28.391h12.526c.82 0 1.153-.169 1.272-.397.05-.095.065-.197.065-.376 0-.363-.244-.723-.99-1.48-.14-.141-.209-.212-.282-.287-.839-.865-1.228-1.476-1.228-2.329v-1.6c0-3.307-2.13-5.731-5.096-5.731Z" />
                            </svg>
                        </div>
                        <div id="inboxDropdown">
                            {% notifications request %}
                        </div>
                    </li>
                    <li class="row-con-itm">
                        <a href="{% url 'user_profile' request.user.username %}">
                            {% if request.user.profile.avatar.url != null %}
                            <img src="{{request.user.profile.avatar.url}}" alt="" class="pp">
                            {% else %}
                            <div class="pp"
                                style="background: linear-gradient({{request.user.profile.avatar_default}});">
                                <div class="grcn">
                                    {{request.user.profile.name|slice:"0:1"}}
                                </div>
                            </div>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                {% else %}
                <li class="row-con-itm">
                    <div onclick="openSigninModal()">Sign in</div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main id="main">
        <div class="main-content">
            <ul id="notify">

            </ul>
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <footer id="footer">
        <div id="footer-row">
            <!-- <div class="by">Developed by Rakmatullaev.</div>
            {% block footer }
            {% endblock } -->
            <div class="foot-txt">
                Please
                <a class="underline" style="color: #06c;" href="mailto:abbrakh@gmail.com">contact
                    us</a>,
                to help us improve our website.
            </div>
            <div class="hr"></div>
            <div class="footer-flex">
                <div class="foot-txt">
                    Copyright © 2024 Uzrent. All rights reserved.
                </div>
                <div class="foot-txt">
                    <a href="https://en.wikipedia.org/wiki/Uzbekistan">
                        Uzbekistan
                    </a>
                </div>
            </div>
            <div class="foot-itms">
                <div class="foot-txt">
                    Developed by Rakhmatullaev
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'websocket.js' %}"></script>

    <!--  -->
    <script>
        const signin_password = document.getElementById("signin-password");
        const toggleSigninPassword = document.getElementById("toggle-signin-password");

        toggleSigninPassword.addEventListener("click", toggleClicked);
        function toggleClicked() {
            if (this.checked) {
                signin_password.type = "text";
            } else {
                signin_password.type = "password";
            }
        }
    </script>
    <script>
        const $dropdownMenu = $('[id=inboxDropdown]');

        const onDocumentMouseUp = e => {
            if (!$dropdownMenu.is(e.target) && $dropdownMenu.has(e.target).length === 0) {
                $dropdownMenu.removeClass('active');
                $(document).off('mouseup', onDocumentMouseUp);
            }
        };

        $('.inboxDrBtn').on('click', () => {
            $dropdownMenu.toggleClass('active');
            if ($dropdownMenu.hasClass('active')) {
                $(document).on('mouseup', onDocumentMouseUp);
            }
        });

    </script>
    <script>
        const password = document.getElementById("signup-password");
        const password2 = document.getElementById("confirm");
        const togglePassword = document.getElementById("toggle-signup-password");

        togglePassword.addEventListener("click", toggleClicked);
        function toggleClicked() {
            if (this.checked) {
                password.type = "text";
                password2.type = "text";
            } else {
                password.type = "password";
                password2.type = "password";
            }
        }
    </script>
    <script>
        const signinModal = document.getElementById("signinModal");
        const signupModal = document.getElementById("signupModal");
        function openSigninModal() {
            signinModal.classList.add('show');
            signupModal.classList.remove('show');
        }
        function closeSigninModal() {
            signinModal.classList.remove('show');
        }
        // signup
        function openSignupModal() {
            signinModal.classList.remove('show');
            signupModal.classList.add('show');
        }
        function closeSignupModal() {
            signupModal.classList.remove('show');
        }
        window.onclick = function (event) {
            if (event.target == signinModal) {
                signinModal.classList.remove('show');
            }
            else if (event.target == signupModal) {
                signupModal.classList.remove('show');
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#toast-position').toggleClass('active')

            setTimeout(function () {
                $('#toast-position').toggleClass('timeout')
                $('#toast-position').fadeOut('fast');
            }, 3000);
        })
    </script>
    {% block scripts %}
    {% endblock %}
</body>

</html>