body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    /* background: #f5f5f7; */
    font-size: 14px;
}

/* #86868b */

a {
    text-decoration: none;
    color: currentColor;
}

#main {
    margin: 0 auto;
    max-width: 1180px;
    padding: 44px 20px;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 44px;
    /* background: rgba(22, 22, 23, .8);
    backdrop-filter: saturate(180%) blur(20px); */
    background: #fff;
    font-size: 19px;
    border-bottom: 1px solid #e8e8ed;
}

#row {
    margin: 0 auto;
    height: 44px;
    max-width: 1024px;
    padding: 0 22px;
}

.navig {
    display: flex;
    align-items: center;
    justify-content: right;
}

.room_posts {
    margin: 15px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    row-gap: 40px;
    column-gap: 24px;
}

.room {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    height: 19rem;
    white-space: normal;
    border: 1px solid #e8e8ed;
    /* box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
    transition: all .3s cubic-bezier(0, 0, .5, 1); */
}

/* .room:hover {
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .16);
    transform: scale3d(1.01, 1.01, 1.01);
} */

.room-info {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    white-space: normal;
    text-align: left;
    color: #000;
    font-size: 24px;
}

.room-img {
    height: 100%;
}

.room-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    letter-spacing: -.022em;
    font-weight: 600;
    color: #1d1d1f;
}

.rating svg {
    height: 14px;
    width: 14px;
}

.ci-cy {
    font-size: 15px;
    letter-spacing: -.022em;
    line-height: 1.5;
    font-weight: 600;
    color: #1d1d1f;
}

.in-out,
.r-price {
    font-size: 14px;
    line-height: 1.5;
}

.row-content {
    cursor: default;
    margin: 0;
    padding: 0;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    list-style: none;
}

.row-con-itm {
    color: currentColor;
    text-decoration: none;
    font-size: 12px;
    /* color: rgba(255, 255, 255, .8); */
    color: #1d1d1f;
    transition: color .32s cubic-bezier(.4, 0, .6, 1);
}

.row-con-itm:hover {
    /* color: #FFF; */
    color: #000;
}

.pp {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.grcn {
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    display: grid;
    place-items: center;
}

.grcn:hover {
    text-decoration: none;
}

.detpp {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.detgrcn {
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 22px;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    display: grid;
    place-items: center;
}

.detgrcn:hover {
    text-decoration: none;
}

.search-inp {
    font-size: 12px;
    height: 18px;
    padding: 5px 12px;
    width: 420px;
    outline: none;
    border: none;
    border-radius: 6px;
    /* background: rgba(22, 22, 23, .4); */
    /* color: rgba(255, 255, 255, .8); */
    background: #f5f5f7;
    color: #1d1d1f;
}

.search-inp::placeholder {
    /* color: rgba(255, 255, 255, .8); */
    color: #1d1d1f;
}

.logo-img {
    width: 55px;
    vertical-align: middle;
}

#flex {
    display: flex;
}

.fl-spbn {
    display: flex;
    justify-content: space-between;
}

.each-image {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 18px;
}

.room-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brief-name {
    font-size: 25px;
    line-height: 1.7;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #1d1d1f;
}

.detailed-ci-cy {
    font-size: 15px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 3px;
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    color: #bf4800;
}

.howmany {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #1d1d1f;
}

.hr {
    background: rgb(208, 208, 208);
    height: 1px;
    width: 100%;
    margin: 15px 0;
}

.left-info-column {
    width: 680px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.right-info-column {
    position: sticky;
    top: 60px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.info-col-itm {
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    border-style: solid;
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background: #f5f5f7;
    border: 1px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-col-name {
    font-size: 15px;
    text-transform: uppercase;
}

.r-stars {
    display: flex;
    align-items: center;
    gap: 2.5px;
    margin: 5px 0;
}

.r-stars svg {
    height: 10px;
    width: 10px;
    fill: rgb(255, 187, 0);
}

.host-info {
    display: flex;
    align-items: center;
}

.n-d {
    margin-left: 10px;
}

.host-name {
    font-size: 17px;
    font-weight: 600;
}

.brief-info {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.reviews {
    font-size: 20px;
    font-weight: 600;
}

.reviews:hover {
    text-decoration: underline;
}

.desc {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.amenities-col {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 5px;
    max-width: 100%;
}

.amenity {
    pointer-events: none;
    font-size: 14px;
    padding: 12px;
    min-width: 25px;
    background: #f5f5f7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-title {
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.info-col {
    margin-top: 10px;
}

#footer {
    width: 100%;
    background: #fff;
    border-top: 1px solid rgba(239, 243, 244, 1.00);
}

#room-reviews-content {
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 5px;
}

#room-reviews-content::-webkit-scrollbar {
    display: none;
}

.review {
    font-size: 14px;
    padding: 12px;
    width: 300px;
    height: 100px;
    background: #f5f5f7;
    border-radius: 12px;
    display: flex;
    align-items: start;
}

.reviewer-name {
    display: block;
    font-size: 14px;
    font-weight: 600;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
}

.paddle svg {
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.left-paddle,
.right-paddle {
    margin: auto;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    background: #f5f5f7;
}

.left-paddle:hover,
.right-paddle:hover {
    background: rgb(231, 231, 231);
}

.left-paddle {
    left: 0;
}

.right-paddle {
    right: 0;
}

.hidden {
    display: none;
}

.slides {
    margin: 20px 0;
    position: relative;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

.n-stayed {
    display: flex;
}

.spr {
    line-height: 18px;
    margin: 0 4px;
    font-size: 12px;
    color: rgb(83, 100, 113);
}

.host-date {
    color: rgb(83, 100, 113);
}

.review-date {
    color: rgb(83, 100, 113);
}

.review-text {
    margin-top: 5px;
    width: 260px;
    height: 69px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 4;
    white-space: normal;
    overflow: hidden;
}

.by {
    font-size: 12px;
}

#footer-row {
    margin: 0 auto;
    max-width: 1024px;
    padding: 10px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infotxt {
    height: 100%;
    font-size: 14px;
    width: 100%;
    display: grid;
    place-items: center;
}

.room-location {
    margin-top: 10px;
    width: 100%;
    height: 400px;
    border-radius: 12px;
}

.room-price {
    font-size: 19px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom: 14px;
}

.check-inNout {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-io {
    height: 60px;
    width: 170px;
    border: 1px solid #e8e8ed;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.small-title {
    font-size: 15px;
    font-weight: 600;
}

.payment {
    margin-top: 10px;
}

.btn {
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    border-style: solid;
    width: 100%;
    padding: 17px 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background: #0071e3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 12px;
}

.btn:hover {
    background: #0175e9;
}

.carousel {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    /* Ensure the carousel occupies the full width */
}

.carousel-item {
    flex: 0 0 100%;
    /* Each slide occupies the full width */
}

.carousel-item.active {
    flex: 0 0 100%;
    /* Active slide occupies the full width */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(210, 210, 215, .64);
    color: rgba(0, 0, 0, .56);
    width: 3.05882rem;
    height: 3.05882rem;
    border-radius: 3.05882rem;
    display: grid;
    place-items: center;
    transition: .2s;
}

.carousel-control-prev svg,
.carousel-control-next svg {
    width: 30px;
    height: 30px;
    fill: rgba(0, 0, 0, .56);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(210, 210, 215, 0.774);
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.count-nights {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}