<div class="notcol">
    <div class="nottitle">Notifications</div>
    <div class="hr"></div>
    {% for notification in notifications %}
    <div class="notcon">
        <div class="notsen-msg">
            <div class="notsender">
                <a href="{% url 'user_profile' notification.sender.username %}">
                    {% if notification.sender.profile.avatar.url != null %}
                    <img src="{{notification.sender.profile.avatar.url}}" alt="" class="pp">
                    {% else %}
                    <div class="pp"
                        style="background: linear-gradient({{notification.sender.profile.avatar_default}});">
                        <div class="grcn">
                            {{notification.sender.profile.name|slice:"0:1"}}
                        </div>
                    </div>
                    {% endif %}
                </a>
            </div>
            <div class="notmsg">
                <div class="notsendername">
                    {{notification.sender.profile.name}}
                </div>
                <div class="">
                    {{ notification.message|safe }}
                </div>
            </div>
        </div>
        <div class="notdt">{{ notification.get_date }}</div>
    </div>
    <form action="{% url 'confirm_room' notification.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="action" value="confirm">Confirm</button>
        <button type="submit" name="action" value="cancel">Cancel</button>
    </form>
    {% endfor %}
</div>