<div class="hr"></div>
<div class="rmce">
    {% if request.user.profile.avatar.url != null %}
    <img src="{{request.user.profile.avatar.url}}" alt="" class="pp">
    {% else %}
    <div class="pp" style="background: linear-gradient({{request.user.profile.avatar_default}});">
        <div class="grcn">
            {{request.user.profile.name|slice:"0:1"}}
        </div>
    </div>
    {% endif %}
    <form action="{% url 'room_create' %}" method="POST" class="cecol">
        {% csrf_token %}

        <input type="text" id="title" name="title" placeholder="Room's title">
        <textarea id="description" name="description" class="descarea" placeholder="Description"></textarea>

        <div class="rcrflex">
            <select id="city" name="city">
                {% for choice in ROOM_CITY_CHOICES %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
            <input type="number" id="price" name="price" placeholder="Price">
        </div>

        <div class="rcrflex">
            <input type="number" id="guests" name="guests" placeholder="Guests">
            <input type="number" id="beds" name="beds" placeholder="Beds">
            <input type="number" id="bedrooms" name="bedrooms" placeholder="Bedrooms">
            <input type="number" id="baths" name="baths" placeholder="Baths">
        </div>

        <label for="check_in">Check In:</label>
        <input type="date" id="check_in" name="check_in">

        <label for="check_out">Check Out:</label>
        <input type="date" id="check_out" name="check_out">

        <button type="submit">Create Room</button>
    </form>
</div>