<div class="signup-col">
    <form action="{% url 'signup' %}" method="POST" class="signui">
        {% csrf_token %}
        <div class="input-wrapper">
            <input type="text" name="name" required placeholder=" " />
            <span>Full name</span>
        </div>
        <div class="input-wrapper">
            <input type="text" name="username" required placeholder=" " />
            <span>Username</span>
        </div>
        <div class="input-wrapper">
            <input type="password" name="password" id="signup-pass" required placeholder=" " />
            <span>Password</span>
        </div>
        <div class="input-wrapper">
            <input type="password" name="confirm" id="confirm" required placeholder=" " />
            <span>Confirm</span>
        </div>
        
        <div id="flex-align">
            <input class="showPassword" type="checkbox" id="toggle-signup-password" />
            <div class="showPassword-txt">
                Show password
            </div>
        </div>
        <div class="fl-spbn" style="margin-top: 45px;">
            <div class="c-ripple" onclick="openSigninModal()">Sign in instead</div>
            <button type="submit" class="btn-primary">
                Create account
            </button>
        </div>
    </form>
</div>