{% load i18n %}

<div class="signin-col">
    <form action="{% url 'signin' %}" method="POST" class="signui" id="signin-form" onsubmit="submitForm(event)">
        {% csrf_token %}
        <div class="lbld" id="usem">
            <div class="input-wrapper">
                <input type="text" name="usem" placeholder=" " />
                <span>Email or username</span>
            </div>
            <div class="errTxt"></div>
        </div>
        <div class="lbld" id="si_password">
            <div class="input-wrapper">
                <input type="password" name="pass" id="signin-password" placeholder=" " />
                <span>Password</span>
            </div>
            <div class="errTxt"></div>
        </div>
        <div id="flex-align">
            <input class="showPassword" type="checkbox" id="toggle-signin-password" />
            <div class="showPassword-txt">
                Show password
            </div>
        </div>
        <div class="fl-spbn" style="margin-top: 25px;">
            <div class="c-ripple" onclick="openSignupModal()">Create account</div>
            <button type="submit" class="btn-primary">
                Sign in
            </button>
        </div>
    </form>
</div>

<script>
    function submitForm(event) {
        event.preventDefault(); // Prevent the default form submission

        const usernameInput = document.querySelector('#usem input[name="usem"]');
        const passwordInput = document.querySelector('#si_password input[name="pass"]');

        // Clear previous error messages
        document.querySelector('#usem .errTxt').textContent = '';
        document.querySelector('#si_password .errTxt').textContent = '';

        if (usernameInput.value.trim() === '') {
            document.querySelector('#usem .errTxt').textContent = '{% trans "Email or username is required" %}';
            return;
        }

        if (passwordInput.value.trim() === '') {
            document.querySelector('#si_password .errTxt').textContent = '{% trans "Password is required" %}';
            return;
        }
        if (passwordInput.value.length < 8) {
            document.querySelector('#si_password .errTxt').textContent = '{% trans "Password pattern should be at least 8 characters" %}';
            return;
        }

        // Create a FormData object to store form data and selected images
        const formData = new FormData(document.getElementById('signin-form'));

        // Use fetch API to submit form data to server
        fetch("{% url 'signin' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
          .then((response) => response.json())
          .then((data) => {
              // Handle response
              if (data.is_user) {
                  window.location.href = `/`; // Adjust the URL as per your project's routing
              } else {
                  document.querySelector('#usem .errTxt').textContent = '{% trans "Invalid information, Please check your credentials" %}';
              }
          }).catch(error => {
              // Handle error
              console.error('Error:', error);
          });
    }
</script>