{% extends 'base.html' %}

{% block content %}
<style>
    h4 {
        margin-top: 0;
    }
</style>
<div class="ctr">
    <h1>
        Law of the Republic of Uzbekistan on Rent
    </h1>
    <h2>
        Section I. General Provisions
    </h2>
    <div class="sec">
        <h4>Article 1. Rent</h4>
        Rent constitutes the contractual possession and use of land, other natural resources, and property essential for
        tenants to conduct economic and other activities independently.
        <br><br>
        <h4>Article 2. Legislation on Rent</h4>
        Rental relations are governed by this Law and other legislative acts of the Republic of Uzbekistan.
        <br><br>
        <h4>Article 3. Object of Rental Relations</h4>
        The objects of rental relations may include enterprises, buildings, land, equipment, and other natural
        resources,
        except those prohibited by legislative acts.
        <br><br>
        <h4>Article 4. Subjects of Rental Relationship</h4>
        The lessor and the lessee are the subjects of the rent. The lessor, owning the right to lease, can be the
        property
        owner or an authorized institution. Tenants can be legal entities or individuals, including joint ventures and
        international associations.
        <br><br>
        <h4>Article 5. Rent Agreement</h4>
        Rent relations are initiated by a rent agreement, emphasizing voluntariness and equality of parties. The
        agreement
        specifies property composition, rental terms, conditions, and obligations of both parties.
        <br><br>
        <h4>Article 6. Cost of Leased Property</h4>
        The cost of leased state property adheres to Uzbekistan's legislation, while non-state property cost is
        determined
        by the owner.
        <br><br>
        <h4>Article 7. Transfer of Property to the Lessee</h4>
        The lessor must transfer property consistent with its purpose or contract terms. Delays in property transfer
        enable
        lessee claims for compensation.
        <br><br>
        <h4>Article 8. Subleasing of Leased Property</h4>
        Subleasing requires lessor permission, except for land and natural resources, subject to Uzbekistan's
        legislation.
        <br><br>
        <h4>Article 9. Property Upon Lease</h4>
        Leasing does not transfer property ownership. Lessees may construct on leased land, subject to agreement terms.
        <br><br>
        <h4>Article 10. Write-off of Funds from Tenant Accounts</h4>
        Funds can be debited with tenant consent or court decision, following legislative acts.
        <br><br>
        <h4>Article 11. Improvement of Leased Property</h4>
        Lessee rights include making changes to leased property, subject to lessor approval and compensation terms.
        <br><br>
        <h4>Article 12. Rent</h4>
        Rent payment, determined by agreement, may change by mutual consent within contract terms.
        <br><br>
        <h4>Article 13. Amendment of Lease Terms, Cancellation, and Termination</h4>
        Lease terms can be amended or canceled by mutual consent. Violations enable lease termination, per legislative
        acts.
        <br><br>
        <h4>Article 14. Renewal of a Lease</h4>
        Lease renewal is possible if the lessee continues usage with lessor approval.
        <br><br>
        <h4>Article 15. Preservation of Lease in Tenant Death</h4>
        In case of tenant death, heirs can demand lease continuation unless personal qualities were a contract
        condition.
        <br><br>
        <h4>Article 16. Preservation of Lease Upon Property Transfer</h4>
        Upon property transfer, the lease remains valid unless specified otherwise by law.
        <br><br>
        <h4>Article 17. Return Property to Landlord</h4>
        Lessees must return property in agreed condition post-lease, with liability for damages.
        <br><br>
        <h4>Article 18. Redemption of Leased Property</h4>
        With lessor consent, lessees may redeem property, except land, using designated funds.
        <br><br>
        <h4>Article 19. Redemption Contract</h4>
        The redemption contract regulates property purchase, outlining terms and responsibilities.
        <br><br>
    </div>
    <h2>
        Section II. Rent of Enterprises
    </h2>
    <div class="sec">
        <h4>Article 20. Formation of a Collective of Tenants</h4>
        Enterprise labor collectives can form tenant collectives for rental enterprises.
        <br><br>
        <h4>Article 21. Procedure for Lease Agreement</h4>
        Tenants draft agreements sent to leasing bodies, which decide within 30 days.
        <br><br>
        <h4>Article 22. Status of a Leased Enterprise</h4>
        Leased enterprises follow Uzbekistan's enterprise laws, gaining legal entity rights upon registration.
        <br><br>
        <h4>Article 23. Succession in Lease of Enterprises</h4>
        Leased enterprises succeed property rights and obligations, retaining rights to capital investments.
        <br><br>
        <h4>Article 24. Competition for Rental of Enterprises</h4>
        Tenders for enterprise rental involve labor collectives, giving preference to current employees.
        <br><br>
        <h4>Article 25. Lease of State-Owned Enterprise in Reorganization or Liquidation</h4>
        Labor collectives can demand state enterprises' lease upon reorganization or liquidation.
        <br><br>
        <h4>Article 26. Creation of Leased Enterprise from Business Unit</h4>
        Leased enterprises can form from business units with proper authorization.
        <br><br>
        <h4>Article 27. Intraeconomic Lease Contract</h4>
        Enterprises can lease property to employees through intraeconomic contracts.
        <br><br>
        <h4>Article 28. Creation of Rental Enterprises from Public Association Property</h4>
        Public associations can lease their property based on conditions stipulated by law.
        <br><br>
    </div>
    <h2>
        Section III. Rent of Property by Citizens
    </h2>
    <div class="sec">
        <h4>Article 29. Rights of Tenants</h4>
        Individual or group tenants have rights as per Uzbekistan's laws.
        <br><br>
        <h4>Article 30. Social Insurance and Security</h4>
        Tenants receive social insurance and security akin to employees.
        <br><br>
        Section IV. Settlement of Disputes, Responsibility of Subjects of Rental Relations
        <br><br>
        <h4>Article 31. Settlement of Disputes</h4>
        Disputes are resolved by relevant courts as per Uzbekistan's laws.
        <br><br>
        <h4>Article 32. Responsibility</h4>
        Legal entities and individuals bear liability for contract violations, compensating damages per legislative
        acts.
        <br><br>
    </div>
    Signed by the President of the Republic of Uzbekistan, I. Karimov, on November 19, 1991.
</div>
{% endblock %}