{% extends 'base.html' %}

{% block title %}Create new room{% endblock %}

{% block content %}
<div class="brief-name">Create a new room</div>
<form id="room-create-form" action="{% url 'room_create' %}" method="POST" class="cecol" enctype="multipart/form-data"
    onsubmit="submitForm(event)">
    {% csrf_token %}
    <input type="hidden" id="latitude" name="latitude" value="41.3103">
    <input type="hidden" id="longitude" name="longitude" value="69.2775">

    <div class="rmleft">
        <div class="rcrflex">
            <div class="rcrflexcol">
                <div class="lbld">
                    <div class="lbltxt">Guests</div>
                    <div class="rcrflex">
                        <span id="guests_minus" class="minus">-</span>
                        <input style="width: 33px;" type="text" min="1" id="guests" name="guests" min="1" value="1" />
                        <span id="guests_plus" class="plus">+</span>
                    </div>
                </div>
                <div class="lbld">
                    <div class="lbltxt">Bedrooms</div>
                    <div class="rcrflex">
                        <span id="bedrooms_minus" class="minus">-</span>
                        <input style="width: 33px;" type="text" min="1" id="bedrooms" name="bedrooms" min="1"
                            value="1" />
                        <span id="bedrooms_plus" class="plus">+</span>
                    </div>
                </div>
                <div class="lbld">
                    <div class="lbltxt">Beds</div>
                    <div class="rcrflex">
                        <span id="beds_minus" class="minus">-</span>
                        <input style="width: 33px;" type="text" min="1" id="beds" name="beds" min="1" value="1" />
                        <span id="beds_plus" class="plus">+</span>
                    </div>
                </div>
                <div class="lbld">
                    <div class="lbltxt">Baths</div>
                    <div class="rcrflex">
                        <span id="baths_minus" class="minus">-</span>
                        <input style="width: 33px;" type="text" min="1" id="baths" name="baths" min="1" value="1" />
                        <span id="baths_plus" class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="lbld" style="margin-left: 10px;">
                <div class="lbltxt">Map</div>
                <div id="map" style="width: 100%; height: 250px; border-radius: 12px;"></div>
            </div>
        </div>
        <div class="lbld">
            <div class="lbltxt">Images</div>
            <input type="button" value="Browse..." onclick="document.getElementById('roomimginp').click();" />
            <div id="img-error" class="errTxt"></div>
            <input type="file" id="roomimginp" name="images" accept="image/jpg, image/jpeg, image/png"
                onchange="addImage(this)" multiple style="display: none;">
        </div>
        <div id="image-preview-container"></div>
    </div>
    <div class="rmright">
        <div class="rcrflex">
            <div class="lbld">
                <div class="lbltxt">Title</div>
                <input type="text" id="title" name="title" placeholder="e.g. Best cabin near Labi Hawuz">
                <div id="title-error" class="errTxt"></div>
            </div>
            <div class="lbld">
                <div class="lbltxt">Price</div>
                <input type="text" id="price" name="price" placeholder="e.g. 10 will be 10,000" data-a-sign=""
                    data-a-dec="," data-a-sep=".">
                <div id="price-error" class="errTxt"></div>
            </div>
        </div>
        <div class="lbld">
            <div class="lbltxt">Description</div>
            <textarea id="description" name="description" class="descarea" placeholder="Description"></textarea>
            <div id="description-error" class="errTxt"></div>
        </div>

        <div class="rcrflex">
            <div class="lbld">
                <div class="lbltxt">Address</div>
                <input type="text" id="address" name="address" placeholder="Address">
                <div id="address-error" class="errTxt"></div>
            </div>
            <div class="rcrflex">
                <div class="lbld">
                    <div class="lbltxt">City</div>
                    <select class="room-cy" id="city" name="city">
                        <option hidden style="color: grey;">Select city</option>
                        {% for code, name in regions %}
                        <option value="{{ code }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <div id="city-error" class="errTxt"></div>
                </div>
                <div class="lbld">
                    <div class="lbltxt">Room type</div>
                    <select class="room-cy" id="room_type" name="room_type">
                        <option hidden style="color: grey;">Select room type</option>
                        {% for code, name in room_types %}
                        <option value="{{ code }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <div id="roomtype-error" class="errTxt"></div>
                </div>
            </div>
        </div>

        <div class="rcrflex">
            <div class="lbld">
                <div class="lbltxt">Amenities</div>
                <input type="text" id="amenities" name="amenities" placeholder="e.g. Wi-Fi, Kitchen, AC, Washroom">
                <div class="inpInfo">Enter a comma after each amenity</div>
                <div id="amenities-error" class="errTxt"></div>
            </div>
            <div class="lbld">
                <div class="lbltxt">House rules</div>
                <input type="text" id="house_rules" name="house_rules"
                    placeholder="e.g. No parties or events, No smoking">
                <div class="inpInfo">Enter a comma after each rule</div>
                <div id="hr-error" class="errTxt"></div>
            </div>
        </div>

        <div class="rcrflex">
            <div class="lbld">
                <div class="lbltxt">Check in</div>
                <input type="date" name="check_in" id="check_in" class="check_in">
                <div id="check_in-error" class="errTxt"></div>
            </div>
            <div class="lbld">
                <div class="lbltxt">Check out</div>
                <input type="date" name="check_out" id="check_out" class="check_out">
                <div id="check_out-error" class="errTxt"></div>
            </div>
        </div>
        <div class=" btnsubend">
            <button type="submit" class="btn-primary">Create</button>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
    crossorigin="anonymous"></script>
<script>
    jQuery(function ($) {
        $('#price').autoNumeric('init');
    });
</script>
<script>
    // Get today's date
    var today = new Date();

    // Format the date as YYYY-MM-DD
    var formattedDate = today.toISOString().substr(0, 10);

    // Set the value of the input field to today's date
    document.getElementById("check_in").value = formattedDate;
    document.getElementById("check_in").min = formattedDate;

    document.getElementById("check_out").value = formattedDate;
    document.getElementById("check_out").min = formattedDate;
</script>
{% endblock %}